.App {
	text-align: center;
	min-height: 100vh;
	box-sizing: border-box;
	background-color: #2E3440;
}

.navbar {
	background-color: #2E3440;
	height: 120px;
	display: flex;
	justify-content: space-between;
}

.navbar img {
	height: 120px;
}

.navbar ul {
	display: flex;
	flex-direction: row;
	margin: 0 16px 0 0;
	padding: 0;
}

.navbar li {
	list-style-type: none;
	margin: 16px 8px;
}

.navbar a {
	font-size: large;
	color: #88C0D0;
	text-decoration: none;
	transition: 0.3s;
	font-size: 2em;
}

.navbar a:hover {
	color: #5E81AC;
}
