$nord6: #eceff4;
$nord8: #88c0d0;
$nord10: #5e81ac;
$nord11: #bf616a;
$nord12: #d08770;
$nord13: #ebcb8b;
$nord14: #a3be8c;

$bg: #282c34;
$darkblue: #61afef;
$lightblue: #56b6c2;
$darkorange: #d19a66;
$lightorange: #e5c07b;
$red: #e06c75;
$purple: #c678dd;
$green: #98c379;
$lightgray: #323842;
$mediumgray: #2c313a;
$darkgray: #21252b;

$ss: #98c379;
$s: #9fba79;
$s-: #a6b278;
$a: #aea978;
$a-: #b5a077;
$b: #bc9877;
$b-: #c38f77;
$c: #ca8676;
$c-: #d27d76;
$d: #d97575;
$f: #e06c75;

@mixin transform($property) {
	-webkit-transform: $property;
	-ms-transform: $property;
	transform: $property;
}

html {
	background-color: $bg;
	overflow-x: hidden;
	scrollbar-width: none;
	scroll-behavior: smooth;
	box-sizing: border-box;
}

::-webkit-scrollbar {
	width: 0;
}

@font-face {
	font-family: Nunito-Light;
	src: url(./fonts/Nunito-Light.ttf);
}

@font-face {
	font-family: Nunito-SemiBold;
	src: url(./fonts/Nunito-SemiBold.ttf);
}

.App {
	text-align: center;
	min-height: 100vh;
	box-sizing: border-box;
	background-color: $bg;
	font-family: Nunito-Light;
	cursor: url(./misc/Cursor32.png) 5 0, auto;
	transition: 0.2s;
	a {
		color: $nord6;
		transition: 0.2s;
		text-decoration: none;
		&:hover {
			color: $darkblue;
		}
	}
}

.switch-wrapper > * {
	position: absolute;
	width: 100%;
}

h1 {
	font: 300 3rem Nunito-light;
	color: $nord6;
}

h2 {
	font: 2rem Nunito-SemiBold;
	color: $nord6;
	margin-top: 60px;
}

h3 {
	font: 1.8rem Nunito-light;
	color: $nord6;
	transition: 0.2s;
}

p {
	font: 1.5rem Nunito-light;
	color: $nord6;
	margin: 0 5%;
}

a {
	font: 1.5rem Nunito-light;
	cursor: url(./misc/Cursor32.png) 5 0, auto;
	transition: 0.2s;
	color: $nord6;
	outline: none;
	text-decoration: none;
	&:hover,
	&:active {
		color: $darkblue;
	}
}

button {
	cursor: url(./misc/Cursor32.png) 5 0, auto;
}

input {
	cursor: url(./misc/Cursor32.png) 5 0, auto;
}

.navbar {
	background-color: $bg;
	height: 120px;
	display: flex;
	justify-content: space-between;
	z-index: 1;
	position: relative;

	img {
		margin: 12px;
		height: 120px;
	}

	ul {
		display: flex;
		flex-direction: row;
		margin: 0 16px 0 0;
		padding: 0;
	}

	li {
		display: flex;
		flex-direction: column;
		justify-content: center;
		list-style-type: none;
		margin: 16px 8px;
	}

	a {
		font-size: 2rem;
		padding: 0px 4px;
	}
}

.active-link {
	color: $darkblue !important;

	&:hover {
		color: $darkblue !important;
	}
}

.home,
.towers,
.tower,
.heroes {
	margin-top: 40px;
	padding-bottom: 80px;
	width: 100%;
	overflow: hidden;
	background-color: $bg;
}

.tower {
	overflow: auto;
}

.grid-container {
	max-width: 240px;
	max-height: 260px;
	transition: 0.2s;
	margin: 0 15px 40px 15px;
}

.towers-grid {
	margin: 0 5%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	a {
		height: 100%;
		flex: 1;
		display: flex;
		flex-direction: column;
		align-items: center;
		font-size: 1.6rem;
		&::after {
			color: $nord6;
			background-color: $bg;
			display: block;
			transition: 0.2s;
		}

		&:hover {
			&::after {
				color: $darkblue;
			}
		}
	}

	img {
		height: 75%;
		margin-bottom: 8px;
		padding: 8px;
		border-radius: 8px;
		background-color: $lightgray;
		transition: 0.2s;
	}
}

#dart-monkey::after {
	content: "Dart Monkey";
}

#boomerang-monkey {
	&::after {
		content: "Boomerang Monkey";
	}

	img {
		@include transform(scale(0.8));
	}
}

#bomb-shooter {
	&::after {
		content: "Bomb Shooter";
	}

	img {
		@include transform(scale(0.8));
	}
}

#tack-shooter {
	&::after {
		content: "Tack Shooter";
	}

	img {
		@include transform(scale(0.85));
	}
}

#ice-monkey::after {
	content: "Ice Monkey";
}

#glue-gunner::after {
	content: "Glue Gunner";
}

#sniper-monkey::after {
	content: "Sniper Monkey";
}

#monkey-sub::after {
	content: "Monkey Sub";
}

#monkey-buccaneer::after {
	content: "Monkey Buccaneer";
}

#monkey-ace::after {
	content: "Monkey Ace";
}

#heli-pilot::after {
	content: "Heli Pilot";
}

#mortar-monkey::after {
	content: "Mortar Monkey";
}

#dartling-gunner::after {
	content: "Dartling Gunner";
}

#wizard-monkey::after {
	content: "Wizard Monkey";
}

#super-monkey::after {
	content: "Super Monkey";
}

#ninja-monkey {
	&::after {
		content: "Ninja Monkey";
	}

	img {
		@include transform(scale(0.9));
	}
}

#alchemist::after {
	content: "Alchemist";
}

#druid::after {
	content: "Druid";
}

#banana-farm::after {
	content: "Banana Farm";
}

#spike-factory {
	&::after {
		content: "Spike Factory";
	}

	img {
		@include transform(scale(0.8));
	}
}

#monkey-village::after {
	content: "Monkey Village";
}

#monkey-engineer::after {
	content: "Monkey Engineer";
}

.tower-container {
	display: flex;
	flex-direction: column;
	p {
		transition: 0.2s;
	}
}

.tower-grid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
	gap: 1rem 2rem;
	align-items: center;
	margin: 0 auto 0 2%;
	img {
		max-height: 7rem;
		max-width: 7rem;
		background-color: transparent;
		padding: 0;
		margin: 0;
	}
	button {
		background-color: $lightgray;
		border: none;
		border-radius: 8px;
		transition: 0.2s;
		height: 8rem;
		width: 8rem;
		margin: 0;
		padding: 0;
		&:hover {
			background-color: $darkblue;
		}
		&:disabled {
			background-color: $red;
		}
	}
}

#tower-grid-par {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
	gap: 1rem 2rem;
	align-items: center;
	margin: 0 auto 0 2%;
}

.stats-container {
	display: flex;
	flex-wrap: wrap;
	margin: 0 auto;
	width: 100%;
	justify-content: space-around;
	img {
		height: 2.4rem;
	}
	table {
		transition: 0.2s;
		margin: 1rem;
	}
	th,
	td {
		border: none;
		min-width: 4rem;
		text-align: center;
		font-size: 1.5rem;
		font-family: Nunito-SemiBold;
		padding: 0.4rem 0.8rem;
	}
	td {
		vertical-align: middle;
		font-family: Nunito-light;
	}
}

.image-container {
	display: flex;
	margin-top: 2rem;

	h1 {
		font-size: 4rem;
		margin: 0;
	}
}

.image-container-inner {
	width: 24rem;
	height: 28rem;
	margin: 0 0 0 auto;
	display: flex;
	align-items: center;
}

.tower-img {
	max-height: 100%;
	max-width: 100%;
	margin: 0 0 0 auto;
}

#p0 {
	height: 5rem;
	width: 5rem;
}

.__react_component_tooltip {
	border-radius: 8px !important;
	font: 1.2rem Nunito-light !important;
	transition: 0.2s !important;
	&.show {
		opacity: 1 !important;
	}
}

.yesno {
	height: 1.8rem !important;
}

.tower-active {
	background-color: $green !important;
}

.reset {
	height: 3rem;
	padding: 1rem;
}

#quincy::after {
	content: "Quincy";
}

#gwendolin::after {
	content: "Gwendolin";
}

#striker-jones::after {
	content: "Striker Jones";
}

#obyn-greenfoot::after {
	content: "Obyn Greenfoot";
}

#captain-churchill::after {
	content: "Captain Churchill";
}

#benjamin::after {
	content: "Benjamin";
}

#ezili::after {
	content: "Ezili";
}

#pat-fusty::after {
	content: "Pat Fusty";
}

#adora::after {
	content: "Adora";
}

#admiral-brickell::after {
	content: "Admiral Brickell";
}

#etienne::after {
	content: "Etienne";
}

#sauda::after {
	content: "Sauda";
}

.bloons {
	margin-top: 40px;
	padding-bottom: 80px;
	width: 100%;
	overflow: hidden;
	background-color: $bg;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.table-wrapper {
	overflow-x: auto;
	white-space: nowrap;
}

table {
	display: inline-table;
	margin: 0 20px 80px 20px;
	border-collapse: collapse;
	background-color: $lightgray;
	border-radius: 8px;
}

th {
	font: 1.5rem Nunito-SemiBold;
	color: $nord6;
	padding: 0.5rem;
	border: 1px solid $nord6;
	text-align: left;
}

td {
	color: $nord6;
	padding: 0.5rem;
	border: 1px solid $nord6;
	text-align: left;
	font: 1.5rem Nunito-Light;
}

.bloons img {
	height: 2.4rem;
}

#tableheaderimg {
	height: 1.6rem;
	margin-left: 8px;
}

.rounds {
	margin-top: 40px;
	padding-bottom: 80px;
	width: 100%;
	overflow: hidden;
	background-color: $bg;
	display: flex;
	flex-direction: column;
	justify-content: center;

	ul {
		display: flex;
		flex-direction: row;
		justify-content: center;
		margin: 0;
		padding: 0;
	}

	li {
		display: flex;
		flex-direction: column;
		justify-content: center;
		list-style-type: none;
		margin: 16px 8px;
	}

	a {
		color: $nord6;
		text-decoration: none;
		transition: 0.2s;
		font-size: 2rem;
		padding: 0px 4px;
		font-weight: 300;

		&:hover,
		&:focus {
			color: $darkblue;
			outline: none;
		}
	}

	img {
		height: 2.4rem;
	}
}

.footer {
	margin-top: 4rem;
}

@media (max-width: 1400px) {
	.image-container-inner {
		display: none;
	}
	.tower-grid {
		margin: 0 auto;
	}

	#tower-grid-par {
		margin: 0 auto;
	}
}

@media (max-width: 1200px) {
	.grid-container {
		width: 200px;
		height: 240px;
	}
	.tower-grid {
		img {
			max-width: 4rem;
			max-height: 4rem;
		}
		button {
			width: 5rem;
			height: 5rem;
		}
	}
	#p0 img {
		width: 3rem;
		height: 3rem;
	}
}

@media (max-width: 1000px) {
	.navbar {
		flex-direction: column;
		height: 150px;

		ul {
			justify-content: center;
			margin: 0;
		}

		a {
			font-size: 2em;
		}
	}

	.grid-container {
		width: 200px;
		height: 240px;
	}

	.towers-grid {
		a::after {
			transform: scaleY(1);
		}

		img {
			height: 60%;
		}
	}

	.bloons table,
	.rounds table {
		display: inline-table;
		margin: 0 20px;
	}
	.image-container-inner {
		display: none;
	}
}
@media (max-width: 900px) {
	.tower-grid {
		grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
		grid-template-columns: 1fr 1fr 1fr;
		grid-auto-flow: column;
		img {
			max-width: 7rem;
			max-height: 7rem;
		}
		button {
			width: 8rem;
			height: 8rem;
		}
	}

	#tower-grid-par {
		grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
		grid-template-columns: 1fr 1fr 1fr;
		grid-auto-flow: column;
	}

	.stats-container {
		th,
		td {
			font-size: 1.2rem;
		}
	}

	.rounds {
		th,
		td {
			font-size: 1.2rem;
		}
	}

	.bloons {
		th,
		td {
			font-size: 1.2rem;
		}
	}
}

@media (max-width: 700px) {
	.navbar a {
		font-size: 1.6em;
	}
}

@media (max-width: 500px) {
	h1 {
		font-size: 2.4em;
	}
	.navbar {
		height: 240px;

		ul {
			display: grid;
			grid-template-columns: 1fr 1fr 1fr;
		}

		li {
			margin: 4px;
		}

		a {
			font-size: 1.4em;
		}
	}

	.home {
		margin-top: 0;
		flex-direction: column;
		justify-content: center;
	}

	.towers {
		margin-top: 0;

		a {
			font-size: 1.4em;
		}
	}

	.grid-container {
		width: 180px;
		height: 240px;
	}

	.towers-grid {
		img {
			height: 60%;
		}

		a::after {
			transform: scaleY(1);
		}
	}

	.heroes {
		margin-top: 0;

		a {
			font-size: 1.4rem;
		}
	}

	.bloons,
	.tower {
		margin-top: 0;
	}

	.rounds {
		margin-top: 0;
		flex-direction: column;

		a {
			font-size: 1.4rem;
		}
	}

	.__react_component_tooltip {
		font-size: 0.8rem !important;
	}
	.tower-grid {
		img {
			max-width: 4rem;
			max-height: 4rem;
		}
		button {
			width: 5rem;
			height: 5rem;
		}
	}
	#p0 img {
		width: 3rem;
		height: 3rem;
	}
}
