:root {
	--nord6: #eceff4;
	--nord8: #88c0d0;
	--nord10: #5e81ac;
	--nord11: #bf616a;
	--nord12: #d08770;
	--nord13: #ebcb8b;
	--nord14: #a3be8c;

	--bg: #282c34;
	--darkblue: #61afef;
	--lightblue: #56b6c2;
	--darkorange: #d19a66;
	--lightorange: #e5c07b;
	--red: #e06c75;
	--purple: #c678dd;
	--green: #98c379;
	--lightgray: #323842;
	--mediumgray: #2c313a;
	--darkgray: #21252b;
	--darkdarkgray: #1d2025;
	--cobaltblue: #0047ab;

	--ss: #98c379;
	--s: #9fba79;
	--s-: #a6b278;
	--a: #aea978;
	--a-: #b5a077;
	--b: #bc9877;
	--b-: #c38f77;
	--c: #ca8676;
	--c-: #d27d76;
	--d: #d97575;
	--f: #e06c75;
}

html {
	background-color: var(--bg);
	overflow-x: hidden;
	scrollbar-width: none;
	scroll-behavior: smooth;
	box-sizing: border-box;
	transition: 0.2s;
}

::-webkit-scrollbar {
	width: 0;
}

@font-face {
	font-family: Nunito-Light;
	src: url(./fonts/Nunito-Light.ttf);
	font-display: swap;
}

@font-face {
	font-family: Nunito-SemiBold;
	src: url(./fonts/Nunito-SemiBold.ttf);
	font-display: swap;
}

.App {
	text-align: center;
	min-height: 100vh;
	box-sizing: border-box;
	background-color: var(--bg);
	font-family: Nunito-Light;
	/*cursor: url(./misc/Cursor32.png) 5 0, auto;*/
	transition: 0.2s;
}

.App a {
	color: var(--nord6);
	transition: 0.2s;
	text-decoration: none;
}

.App a:hover {
	color: var(--darkblue);
}

.switch-wrapper > * {
	position: absolute;
	width: 100%;
}

h1 {
	font: 3rem Nunito-light;
	color: var(--nord6);
	cursor: default;
}

h1::selection {
	background-color: var(--darkblue);
	color: var(--bg);
}

h2 {
	font: 2rem Nunito-Light;
	color: var(--nord6);
	margin-top: 60px;
	cursor: default;
}

h2::selection {
	background-color: var(--darkblue);
	color: var(--bg);
}

h3 {
	font: 1.8rem Nunito-light;
	color: var(--nord6);
	transition: 0.2s;
	cursor: default;
}

h3::selection {
	background-color: var(--darkblue);
	color: var(--bg);
}

p {
	font: 1.5rem Nunito-light;
	color: var(--nord6);
	margin: 0 5%;
	cursor: default;
}

p::selection {
	background-color: var(--darkblue);
	color: var(--bg);
}

a {
	font: 1.5rem Nunito-light;
	/*cursor: url(./misc/Cursor32.png) 5 0, auto;*/
	transition: 0.2s;
	color: var(--nord6);
	outline: none;
	text-decoration: none;
}

a:hover,
a:active,
a:focus,
a:focus-visible {
	color: var(--darkblue);
	outline: none;
}

a::selection {
	background-color: var(--darkblue);
	color: var(--bg);
}

button {
	/*cursor: url(./misc/Cursor32.png) 5 0, auto;*/
	cursor: pointer;
}

button::selection {
	background-color: var(--darkblue);
	color: var(--bg);
}

img::selection {
	background-color: transparent;
}

.navbar {
	background-color: var(--bg);
	display: flex;
	justify-content: space-between;
	z-index: 1;
	position: relative;
}

.navbar img {
	margin: 0.75rem;
	height: 7.5rem;
}

.navbar ul {
	display: flex;
	flex-direction: row;
	margin: 0 1rem 0 0;
	padding: 0;
}

.navbar li {
	display: flex;
	flex-direction: column;
	justify-content: center;
	list-style-type: none;
	margin: 1rem 0.5rem;
}

.navbar a {
	font-size: 2rem;
	padding: 0 0.25rem;
}

.active {
	color: var(--darkblue) !important;
}

.active:hover,
.active:focus,
.active:focus-visible {
	color: var(--darkblue) !important;
	outline: none;
}

.home,
.towers,
.tower,
.heroes {
	padding-bottom: 5rem;
	width: 100%;
	background-color: var(--bg);
}

.grid-container {
	max-width: 15rem;
	max-height: 16rem;
	margin: 0 1rem 2.5rem 1rem;
}

.towers-grid {
	margin: 0 5%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.towers-grid a {
	height: 100%;
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: 1.6rem;
}

.towers-grid a::after {
	color: var(--nord6);
	background-color: var(--bg);
	display: block;
	transition: 0.2s;
}

.towers-grid a:hover::after,
.towers-grid a:focus::after,
.towers-grid a:focus-visible::after {
	color: var(--darkblue);
	outline: none;
}

.towers-grid img {
	height: 75%;
	margin-bottom: 0.5rem;
	padding: 0.5rem;
	border-radius: 0.5rem;
	background-color: var(--lightgray);
	transition: 0.2s;
	box-shadow: 0 0 1rem var(--darkdarkgray);
}

#dart-monkey::after {
	content: "Dart Monkey";
}

#boomerang-monkey::after {
	content: "Boomerang Monkey";
}

#boomerang-monkey img {
	-webkit-transform: scale(0.8);
	-ms-transform: scale(0.8);
	transform: scale(0.8);
}

#bomb-shooter::after {
	content: "Bomb Shooter";
}

#bomb-shooter img {
	-webkit-transform: scale(0.8);
	-ms-transform: scale(0.8);
	transform: scale(0.8);
}

#tack-shooter::after {
	content: "Tack Shooter";
}

#tack-shooter img {
	-webkit-transform: scale(0.85);
	-ms-transform: scale(0.85);
	transform: scale(0.85);
}

#ice-monkey::after {
	content: "Ice Monkey";
}

#glue-gunner::after {
	content: "Glue Gunner";
}

#sniper-monkey::after {
	content: "Sniper Monkey";
}

#monkey-sub::after {
	content: "Monkey Sub";
}

#monkey-buccaneer::after {
	content: "Monkey Buccaneer";
}

#monkey-ace::after {
	content: "Monkey Ace";
}

#heli-pilot::after {
	content: "Heli Pilot";
}

#mortar-monkey::after {
	content: "Mortar Monkey";
}

#dartling-gunner::after {
	content: "Dartling Gunner";
}

#wizard-monkey::after {
	content: "Wizard Monkey";
}

#super-monkey::after {
	content: "Super Monkey";
}

#ninja-monkey::after {
	content: "Ninja Monkey";
}

#ninja-monkey img {
	-webkit-transform: scale(0.9);
	-ms-transform: scale(0.9);
	transform: scale(0.9);
}

#alchemist::after {
	content: "Alchemist";
}

#druid::after {
	content: "Druid";
}

#banana-farm::after {
	content: "Banana Farm";
}

#spike-factory::after {
	content: "Spike Factory";
}

#spike-factory img {
	-webkit-transform: scale(0.8);
	-ms-transform: scale(0.8);
	transform: scale(0.8);
}

#monkey-village::after {
	content: "Monkey Village";
}

#monkey-engineer::after {
	content: "Monkey Engineer";
}

.tower-container {
	display: flex;
	flex-direction: column;
}

.tower-container p {
	transition: 0.2s;
}

.tower-grid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
	gap: 1rem 2rem;
	align-items: center;
	margin: 0 auto 0 0;
}

.tower-grid img {
	max-height: 8rem;
	max-width: 8rem;
	background-color: transparent;
	padding: 0;
	margin: 0;
}

.tower-grid button {
	background-color: var(--lightgray);
	border: none;
	border-radius: 0.5rem;
	transition: 0.2s;
	height: 9rem;
	width: 9rem;
	margin: 0;
	padding: 0;
	box-shadow: 0 0 1rem var(--darkdarkgray);
}

.tower-grid button:hover,
.tower-grid button:focus,
.tower-grid button:focus-visible {
	background-color: var(--darkblue);
	outline: none;
}

.tower-grid button:disabled {
	background-color: var(--red);
}

#tower-grid-par {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
	gap: 1rem 2rem;
	align-items: center;
	margin: 0 auto 0 2%;
}

.stats-container {
	display: flex;
	flex-wrap: wrap;
	margin: 0 auto;
	width: 100%;
	justify-content: space-around;
}

.stats-container img {
	height: 2.4rem;
}

.stats-container table {
	transition: 0.2s;
	margin: 1rem;
	box-shadow: 0 0 1rem var(--darkdarkgray);
}

.stats-container th,
.stats-container td {
	border: none;
	min-width: 4rem;
	text-align: center;
	font-size: 1.6rem;
	font-family: Nunito-SemiBold;
	padding: 0.5rem 1rem;
}

.stats-container td {
	vertical-align: middle;
	font-family: Nunito-light;
}

.image-container {
	display: flex;
	margin-top: 2rem;
}

.image-container h1 {
	font-size: 4rem;
	margin: 0;
}

.image-container-inner {
	width: 24rem;
	height: 28rem;
	margin: 0 auto;
	display: flex;
	align-items: center;
}

.tower-img {
	max-height: 100%;
	max-width: 100%;
	margin: 0 0 0 auto;
}

#p0 {
	height: 6rem;
	width: 6rem;
}

.__react_component_tooltip {
	border-radius: 8px !important;
	font: 1.2rem Nunito-light !important;
	transition: 0.2s !important;
}

.__react_component_tooltip.show {
	opacity: 1 !important;
}

.__react_component_tooltip::selection {
	background-color: var(--darkblue);
	color: var(--bg);
}

.yesno {
	height: 1.8rem !important;
}

.tower-active {
	background-color: var(--green) !important;
}

.reset {
	height: 4rem;
	padding: 1rem;
}

#quincy::after {
	content: "Quincy";
}

#gwendolin::after {
	content: "Gwendolin";
}

#striker-jones::after {
	content: "Striker Jones";
}

#obyn-greenfoot::after {
	content: "Obyn Greenfoot";
}

#captain-churchill::after {
	content: "Captain Churchill";
}

#benjamin::after {
	content: "Benjamin";
}

#ezili::after {
	content: "Ezili";
}

#pat-fusty::after {
	content: "Pat Fusty";
}

#adora::after {
	content: "Adora";
}

#admiral-brickell::after {
	content: "Admiral Brickell";
}

#etienne::after {
	content: "Etienne";
}

#sauda::after {
	content: "Sauda";
}

#psi::after {
	content: "Psi";
}

.bloons {
	padding-bottom: 5rem;
	width: 100%;
	background-color: var(--bg);
}

.table-wrapper {
	overflow-x: auto;
	white-space: nowrap;
}

table {
	margin: 1rem;
	display: inline-table;
	background-color: var(--lightgray);
	border-radius: 0.5rem;
	border-collapse: collapse;
	box-shadow: 0 0 1rem var(--darkdarkgray);
	overflow-x: auto;
}

table::selection {
	background-color: var(--darkblue);
	color: var(--bg);
}

table::-webkit-scrollbar {
	width: 0;
}

th {
	font: 1.5rem Nunito-SemiBold;
	color: var(--nord6);
	padding: 0.5rem 1rem;
	text-align: center;
	cursor: default;
}

th::selection {
	background-color: var(--darkblue);
	color: var(--bg);
}

td {
	color: var(--nord6);
	padding: 0.5rem 1rem;
	border-top: 1px solid var(--nord6);
	border-bottom: 1px solid var(--nord6);
	text-align: center;
	font: 1.5rem Nunito-Light;
	cursor: default;
}

td::selection {
	background-color: var(--darkblue);
	color: var(--bg);
}

.bloons img {
	height: 2.4rem;
}

#tableheaderimg {
	height: 1.6rem;
	margin-left: 0.5rem;
}

.rounds {
	padding-bottom: 5rem;
	width: 100%;
	background-color: var(--bg);
}

.rounds ul {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin: 0;
	padding: 0;
}

.rounds li {
	display: flex;
	flex-direction: column;
	justify-content: center;
	list-style-type: none;
	margin: 1rem 0.5rem;
}

.rounds a {
	color: var(--nord6);
	text-decoration: none;
	transition: 0.2s;
	font-size: 2rem;
	padding: 0px 0.25rem;
}

.rounds a:hover,
.rounds a:focus,
.rounds a:focus-visible {
	color: var(--darkblue);
	outline: none;
}

.rounds img {
	height: 2.4rem;
}

.footer a {
	font-size: 1.5rem;
	padding: 0;
}

@media screen and (max-width: 90rem) {
	.tower-grid {
		margin: 0 auto;
	}

	#tower-grid-par {
		margin: 0 auto;
	}

	.tower-grid img {
		max-width: 6rem;
		max-height: 6rem;
	}

	.tower-grid button {
		width: 7rem;
		height: 7rem;
	}

	.stats-container td,
	.stats-container th {
		font-size: 1.2rem;
	}

	#p0 {
		height: 5rem;
		width: 5rem;
	}
	.reset {
		height: 3.5rem;
	}
}

@media screen and (max-width: 80rem) {
	.grid-container {
		width: 200px;
		height: 240px;
	}

	.image-container-inner {
		display: none;
	}

	.tower-grid img {
		max-width: 4rem;
		max-height: 4rem;
	}

	.tower-grid button {
		width: 5rem;
		height: 5rem;
	}

	.reset {
		height: 3rem;
	}
}

@media screen and (max-width: 62rem) {
	.navbar {
		flex-direction: column;
	}

	.navbar ul {
		justify-content: center;
		margin: 0;
	}

	.navbar a {
		font-size: 2rem;
	}

	.font-size {
		font-size: 2rem;
	}

	.grid-container {
		width: 12.5rem;
		height: 15rem;
	}

	.towers-grid a::after {
		transform: scaleY(1);
	}

	.towers-grid img {
		height: 60%;
	}
}
@media screen and (max-width: 56rem) {
	.tower-grid {
		grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
		grid-template-columns: 1fr 1fr 1fr;
		grid-auto-flow: column;
	}

	.tower-grid img {
		max-width: 7rem;
		max-height: 7rem;
	}

	.tower-grid button {
		width: 8rem;
		height: 8rem;
	}

	#tower-grid-par {
		grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
		grid-template-columns: 1fr 1fr 1fr;
		grid-auto-flow: column;
	}

	.stats-container th,
	.stats-container td {
		font-size: 1.2rem;
	}

	.rounds th,
	.rounds td {
		font-size: 1.2rem;
	}

	.bloons th,
	.bloons td {
		font-size: 1.2rem;
	}

	#p0 {
		height: 6rem;
		width: 6rem;
	}

	.reset {
		height: 4rem;
	}
}

@media screen and (max-width: 44rem) {
	.navbar ul {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
	}

	.navbar li {
		margin: 0.25rem;
	}

	.navbar a {
		font-size: 1.6rem;
	}
}

@media screen and (max-width: 31rem) {
	h1 {
		font-size: 2.4rem;
	}

	.navbar a {
		font-size: 1.4rem;
	}

	.home {
		margin-top: 0;
		flex-direction: column;
		justify-content: center;
	}

	.towers {
		margin-top: 0;
	}

	.towers a {
		font-size: 1.4rem;
	}

	.grid-container {
		width: 11.25rem;
		height: 15rem;
	}

	.towers-grid img {
		height: 60%;
	}

	.towers-grid a::after {
		transform: scaleY(1);
	}

	.grid-container {
		margin-bottom: 0;
	}

	.heroes {
		margin-top: 0;
	}

	.heroes a {
		font-size: 1.4rem;
	}

	.bloons,
	.tower {
		margin-top: 0;
	}

	.rounds {
		margin-top: 0;
		flex-direction: column;
	}

	.rounds a {
		font-size: 1.4rem;
	}

	.__react_component_tooltip {
		font-size: 0.8rem !important;
	}

	.tower-grid img {
		max-width: 4rem;
		max-height: 4rem;
	}

	.tower-grid button {
		width: 5rem;
		height: 5rem;
	}

	#p0 {
		height: 4rem;
		width: 4rem;
	}

	.reset {
		height: 3rem;
	}
}
