.App {
	text-align: center;
}

.navbar {
	background-color: #141518;
	height: 120px;
	display: flex;
	justify-content: space-between;
}

.navbar img {
	height: 120px;
}

.navbar ul {
	display: flex;
	flex-direction: row;
	margin: 0 16px 0 0;
	padding: 0;
}

.navbar li {
	list-style-type: none;
	margin: 16px 8px;
}

.navbar a {
	font-size: large;
	color: dodgerblue;
	text-decoration: none;
	transition: 0.3s;
}

.navbar a:hover {
	color: lightskyblue;
}
